<!--
Homepage for TicketLite
Shows overall stats as well as lists of tickets assigned to logged in user.
-->

{% extends "core/base.html" %}

{% block content %}
<div class="p-4 bg-light rounded">
  <h1>Welcome to TicketLite</h1>
  <p>This is your project dashboard.</p>
</div>

  <!-- Stat Overview Bar-->
   <div class="row g-3 mb-4 mt-3 justify-content-center">

    <!-- Card for All Ticket Count -->
    <div class="col-sm-6 col-md-2">
      <div class="card text-center h-100">
        <div class="card-body d-flex flex-column justify-content-center">
          <h6 class="card-title mb-2">All Tickets</h6>
          <p class="display-6 mb-0">{{ stats.total_tickets }}</p>
        </div>
      </div>
    </div>

    <!-- Card for Assigned To Me Ticket Count -->
    <div class="col-sm-6 col-md-2">
      <div class="card text-center h-100">
        <div class="card-body d-flex flex-column justify-content-center">
          <h6 class="card-title mb-2">Assigned To Me</h6>
          <p class="display-6 mb-0">{{ stats.assigned_to_me_count }}</p>
        </div>
      </div>
    </div>

    <!-- Card for To-Do Ticket Count -->
    <div class="col-sm-6 col-md-2">
      <div class="card text-center h-100">
        <div class="card-body d-flex flex-column justify-content-center">
          <h6 class="card-title mb-2">To-Do Tickets</h6>
          <p class="display-6 mb-0">{{ stats.todo_assigned_count }}</p>
        </div>
      </div>
    </div>

    <!-- Card for In-Progress Ticket Count -->
    <div class="col-sm-6 col-md-2">
      <div class="card text-center h-100">
        <div class="card-body d-flex flex-column justify-content-center">
          <h6 class="card-title mb-2">In Progress Tickets</h6>
          <p class="display-6 mb-0">{{ stats.in_progress_assigned_count }}</p>
        </div>
      </div>
    </div>

    <!-- Card for For-Review Ticket Count -->
    <div class="col-sm-6 col-md-2">
      <div class="card text-center h-100">
        <div class="card-body d-flex flex-column justify-content-center">
          <h6 class="card-title mb-2">For Review Tickets</h6>
          <p class="display-6 mb-0">{{ stats.for_review_assigned_count }}</p>
        </div>
      </div>
    </div>

    <!-- Card for Done Ticket Count -->
    <div class="col-sm-6 col-md-2">
      <div class="card text-center h-100">
        <div class="card-body d-flex flex-column justify-content-center">
          <h6 class="card-title mb-2">Done Tickets</h6>
          <p class="display-6 mb-0">{{ stats.done_assigned_count }}</p>
        </div>
      </div>
    </div>

  </div>

  <!-- Dashboard organised Ticket Views with links -->
  <!-- To-Do Tickets -->
  <h5>To-Do Tickets ({{ stats.todo_assigned_count }})</h5>
  <ul class="list-group list-group-flush mb-3">
    {% for t in todo_assigned %}
      <a href="{% url 'core:ticket_detail' t.pk %}" 
        class="list-group-item list-group-item-action"
        aria-current="false">
        <div class="d-flex justify-content-between">
          <div>
            <strong>{{ t.title }}</strong>
            <div class="small text-muted">Project: {{ t.project.name }}</div>
          </div>
          <small class="text-truncate">{{ t.created_at|date:"N j, Y"}}</small>
        </div>
        <div class="text-truncate">{{ t.description|truncatechars:100 }}</div>
      </a>
    {% empty %}
      <li class="list-group-item">No To-Do Tickets.</li>
    {% endfor %}
  </ul>

  <!-- In Progress Tickets -->
  <h5>To-Do Tickets ({{ stats.in_progress_assigned_count }})</h5>
  <ul class="list-group list-group-flush mb-3">
    {% for t in in_progress_assigned %}
      <a href="{% url 'core:ticket_detail' t.pk %}" 
        class="list-group-item list-group-item-action"
        aria-current="false">
        <div class="d-flex justify-content-between">
          <div>
            <strong>{{ t.title }}</strong>
            <div class="small text-muted">Project: {{ t.project.name }}</div>
          </div>
          <small class="text-truncate">{{ t.created_at|date:"N j, Y"}}</small>
        </div>
        <div class="text-truncate">{{ t.description|truncatechars:100 }}</div>
      </a>
    {% empty %}
      <li class="list-group-item">No In Progress Tickets.</li>
    {% endfor %}
  </ul>

  <!-- For Review Tickets -->
  <h5>For Review Tickets Tickets ({{ stats.for_review_assigned_count }})</h5>
  <ul class="list-group list-group-flush mb-3">
    {% for t in for_review_assigned %}
      <a href="{% url 'core:ticket_detail' t.pk %}" 
        class="list-group-item list-group-item-action"
        aria-current="false">
        <div class="d-flex justify-content-between">
          <div>
            <strong>{{ t.title }}</strong>
            <div class="small text-muted">Project: {{ t.project.name }}</div>
          </div>
          <small class="text-truncate">{{ t.created_at|date:"N j, Y"}}</small>
        </div>
        <div class="text-truncate">{{ t.description|truncatechars:100 }}</div>
      </a>
    {% empty %}
      <li class="list-group-item">No For Review Tickets</li>
    {% endfor %}
  </ul>

  <!-- Done Tickets -->
  <h5>Done Tickets ({{ stats.done_assigned_count }})</h5>
  <ul class="list-group list-group-flush mb-3">
    {% for t in done_assigned %}
      <a href="{% url 'core:ticket_detail' t.pk %}" 
        class="list-group-item list-group-item-action"
        aria-current="false">
        <div class="d-flex justify-content-between">
          <div>
            <strong>{{ t.title }}</strong>
            <div class="small text-muted">Project: {{ t.project.name }}</div>
          </div>
          <small class="text-truncate">{{ t.created_at|date:"N j, Y"}}</small>
        </div>
        <div class="text-truncate">{{ t.description|truncatechars:100 }}</div>
      </a>
    {% empty %}
      <li class="list-group-item">No Done Tickets.</li>
    {% endfor %}
  </ul>
</div>
{% endblock content %}
